# Ignore Gradle project-specific cache directory
.gradle



# Ignore Gradle build output directory
build

# Local config DAO
app/src/main/java/data/DAOconfig.java

# Visual Paradigm class diagram
DiagramaClassesRestaurante.vpp
# Ignore compiled binaries
app/bin/
